                                      Data Types and Structures assigmnet-2

question 1-- What are data structures, and why are they important?
answer--A data structure is a way of organizing, storing, and managing data so that it can be used efficiently.
Think of it like containers for data ‚Äî just like you use cupboards, drawers, and shelves to keep things organized at home.example-array,list,stack,queue.
important--1-efficiency,2--Data Organization,3--Reusability,4--Problem Solving,5--Scalability

2--Explain the difference between mutable and immutable datatypes withexamples?
answer-Mutable Data Types:Objects that can be changed (modified) after creation.You can update, add, or remove elements without creating a new object.Examples in Python: list, dict, set, bytearray.
Immutable Data Types--Objects that cannot be changed once created.
Any modification creates a new object in memory.

Examples in Python: int, float, string, tuple, frozenset, bytes.

3--What are the main differences between lists and tuples in Python?
answer---list:is a mutable sequence ‚Üí can be modified after creation.
2 Created with [ ] square brackets.Mutable ‚Üí you can change, add, or remove elements.Has many methods: .append(), .extend(), .remove(), .pop(), etc.
tuple is An immutable sequence ‚Üí cannot be modified after creation.
Created with ( ) parentheses.Immutable ‚Üí no changes allowed after creation.Very few methods: only .count() and .index().

4--Describe how dictionaries store data?
answer--A dictionary is a built-in data structure that stores key‚Äìvalue pairs.
Keys are unique and usually immutable types (str, int, tuple, etc.).

Values can be of any type (mutable or immutable).
student = {"name": "Ritika", "age": 25, "course": "Python"}

5--Why might you use a set instead of a list in Python ?
answer--A set is an unordered collection of unique elements.

Created using { } or the set() function.

Example:nums = {1, 2, 3, 3, 2}
print(nums)   # {1, 2, 3}
Duplicate values are automatically removed.
used sets instead of list:1. Uniqueness,Faster Membership TestingMathematical Set Operations

6--What is a string in Python, and how is it different from a list?
answer--A string is a sequence of characters enclosed in single quotes ', double quotes ", or triple quotes ''' / """.  ex:text = "Hello, World!"
Strings are immutable ‚Üí once created, they cannot be changed directly.and list is Sequence of any objects (numbers, strings, lists, etc.) list are ‚úÖ Mutable (can add, remove, or modify elements). Enclosed in square brackets ([10, 20, 30])

7--How do tuples ensure data integrity in Python?
answer--Tuples and Data Integrity in Python
üîπ 1. Immutability

The biggest reason tuples ensure data integrity is that they are immutable.

Once created, the contents of a tuple cannot be modified (no adding, deleting, or changing elements).

This guarantees that data stays consistent throughout the program.
2-Hashability (Safe as Keys in Dicts/Sets)

8--What is a hash table, and how does it relate to dictionaries in Python?
answer--A hash table is a data structure that stores data in key‚Äìvalue pairs and allows very fast lookups, insertions, and deletions.
In Python, a dictionary (dict) is implemented using a hash table.

The keys are hashed ‚Üí mapped to positions in an internal table.

Values are stored alongside their keys.person = {"name": "Ritika", "age": 25}

print(person["name"])  # O(1) lookup, very fast

9--Can lists contain different data types in Python?
anser==yes,A list is a mutable sequence, defined using square brackets [ ].

Unlike many programming languages (like Java or C++), Python lists are heterogeneous, meaning they can hold different types of objects in the same list.

10--Explain why strings are i mmutable in Python?
anser--üîπ 1. Memory & Hashing (Efficiency in Dictionaries/Sets)
2Thread-Safety,Reusability & Memory Optimization (String Interning)
Strings are immutable in Python because it ensures:

Hash consistency (safe for dict keys & sets).

Thread-safety (no accidental modifications).

Memory efficiency (string interning).

Predictability (no side effects when passing strings).

11-What advantages do dictionaries offer over lists for certain tasks?
Dictionaries are better than lists when you need:

Fast lookups,

Logical key‚Äìvalue associations,

Counting/grouping/mapping tasks,

Flexible, heterogeneous data storage.

12-- Describe a scenario where using a tuple would be preferable over a list ?
answer--Use a tuple over a list when:

Data should not change (immutability).

You need to use the object as a key in a dictionary or in a set.

You want to represent a fixed collection (e.g., coordinates, RGB values, or function return values).

13--How do sets handle duplicate values in Python?
answer--Sets automatically eliminate duplicates.

Adding a duplicate element is ignored.

This property makes sets ideal for storing unique collections of data.
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_values = set(my_list)
print(unique_values)  # {1, 2, 3, 4, 5}

14--How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries ?
answer-1. Using in with Lists

When you do element in list, Python checks each item in the list one by one until it finds a match.

This is called linear search, so it has O(n) time complexity.
fruits = ["apple", "banana", "mango"]

print("banana" in fruits)  # True
print("orange" in fruits)  # False
Using in with Dictionaries

When you do key in dict, Python checks only the dictionary keys (not values).

Dictionaries are implemented using hash tables, so this check is very fast (O(1)).

ex-

student = {"name": "Ritika", "age": 25, "course": "Python"}

print("name" in student)   # True
print("Ritika" in student) # False ‚Üí searches keys, not values

15-- Can you modify the elements of a tuple? Explain why or why not ?
answer- no,Tuples Are Immutable

A tuple is an immutable sequence, meaning once it is created, its elements cannot be changed, added, or removed.3. Special Case: Mutable Objects Inside Tuples

If a tuple contains a mutable object (like a list), you can modify that mutable object, but not the tuple itself.

Example:

t = (1, 2, [3, 4])
t[2].append(5)   # Modifies the list inside the tuple
print(t)         # (1, 2, [3, 4, 5])


The tuple structure is unchanged; only the mutable element inside is modified.

16--What is a nested dictionary, and give an example of its use case ?
answer--A nested dictionary is a dictionary that contains another dictionary (or multiple dictionaries) as a value.

This allows you to store hierarchical or structured data.

Example:

nested_dict = {
    "student1": {"name": "Ritika", "age": 25, "course": "Python"},
    "student2": {"name": "Anubhav", "age": 27, "course": "Java"}
}

17--Describe the time complexity of accessing elements in a dictionary?
Time Complexity of Accessing Elements in a Dictionary

Python dictionaries are implemented using a hash table.

Each key is hashed to calculate an index (bucket) in the underlying table.

This allows direct access to the value associated with the key.

18--In what situations are lists preferred over dictionaries?
answer--Where Lists Are Preferred Over Dictionaries
1. Ordered Collection of Items

Lists preserve order, so they are ideal when the sequence of elements matters.

Dictionaries preserve insertion order (Python 3.7+), but lists are simpler and more natural for sequential data.
2-Indexed Access
3. Homogeneous Data

19--Why are dictionaries considered unordered, and how does that affect data retrieval ? answer--In Python versions before 3.7, dictionaries did not preserve the order in which keys were inserted.

Internally, dictionaries use a hash table:

Each key is hashed to determine its position in memory (bucket).

Keys are stored according to their hash value, not the order of insertion.

Because of this, iterating over a dictionary could return keys in any arbitrary order.

20--Explainthedifferencebetweenalistandadictionaryintermsofdataretrieval.
answer--	List

A list is an ordered collection of elements.

Each element is accessed using an index (position in the list, starting from 0).

Data retrieval is done by index:
Dictionary

A dictionary is an unordered collection of key-value pairs.

Each element is accessed using a key, not an index.

Data retrieval is done by key:

                                                  Practical Questions

1-Write a code to create a string with your name and print it?

In [1]:
name = "ritika sandhu"
print(name)

ritika sandhu

2-Write a code to find the length of the string "Hello World"?

In [2]:
name = "Hello World"
print(name)

length = len(name)  # Correct spelling
print(length)       # This will print the length of the string

Hello World
11

3- Write a code to slice the first 3 characters from the string "Python Programming?

In [6]:
text = "Python Programming"


first_three = text[:3]


print(first_three)

Pyt

4- Write a code to convert the string "hello" to uppercase?

In [7]:

text = "hello"

uppercase_text = text.upper()


print(uppercase_text)

HELLO

 5--Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [11]:
word="I like apple"
repl_word=word.replace("apple","orange")
print(repl_word)

I like orange

6--Write a code to create a list with numbers 1 to 5 and print it?

In [1]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7--Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [5]:
number = [1, 2, 3, 4, 5]
number.append(10)   # list ke andar direct 10 add hoga
print(number)       # updated list print karo

[1, 2, 3, 4, 5, 10]

8--Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [6]:
number=[1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

9--Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [8]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

10--Write a  code to. reverse the list[10,20,30,40,50].

In [9]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12-. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [15]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [16]:
number=(10, 20, 5, 15)
print(min(number))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
fruits = ('apple', 'banana', 'mango')

# Check if 'kiwi' is in the tuple
if 'kiwi' in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [22]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1 & set2
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [25]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [26]:
my_dict = {'name': 'John', 'age': 25}


my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [27]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict.get('name')
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [28]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key 'age'
del my_dict['age']

print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [29]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [30]:

my_list = [1, 2, 3]

# Tuple
my_tuple = (4, 5, 6)

# Dictionary
my_dict = {'name': 'Alice', 'age': 25}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [31]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[13, 18, 34, 47, 59]

28. Write a code to create a list with strings and print the element at the third index.

In [32]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Access element at third index
element = my_list[3]
print(element)

date

29. Write a code to combine two dictionaries into one and print the result.

In [33]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1 | dict2
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [34]:
# List of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
my_set = set(my_list)

print(my_set)

{'cherry', 'banana', 'apple'}